@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 0px;
  border-radius: 15px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(17, 17, 17, 0.388);
  width: 5px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #000;
  text-decoration: none
}

ul {
  list-style: none;
}

.contentFallBack {
  grid-column: 1/6;
}

.contentFallBack h2 {
  text-align: center;
  background-color: #f6fff6;
  text-shadow: 1px 1px 1px #8e8e8e;
}

.contentFallBack img {
  max-width: 90vh;
  display: block;
  margin: auto;
}

.fas {
  cursor: pointer;
}

.fas:hover {
  opacity: .8;
}

.wrapper {
  /* width: 100%;
  height: auto;
  margin: 5px auto 60px 0px; */
  overflow: hidden;
  /* float: right; */
  transition: .2s all ease-in-out;
}



.wrapper-body {
  padding: 1.5rem 2rem 5rem 2rem;
  min-height: 80vh;
  overflow-x: hidden;
  width: 75%;
  margin: auto;
}

.wrapper-body_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-body_head h2 {
  font-size: 15px;
  color: #888;
}

.wrapper-body_head h3 {
  font-size: 25px;
  color: #444;
}

section.head {
  background-color: var(--scnd-color);
  padding: var(--m-padding);
  box-shadow: var(--shadow2);
  border-bottom-left-radius: var(--l-radius);
  border-bottom-right-radius: var(--l-radius);
}

.section-filters {
  background: #fff;
  padding: var(--scnd-padding);
  position: relative;
  border-radius: var(--scnd-radius);
  box-shadow: var(--shadow);
  display: none;
}

.section-filters>div {
  background-color: #eee;
  padding: var(--scnd-padding);
  margin: var(--scnd-margin);
}

section.head h2 {
  color: #fff;
  font-size: 25px;
}

.search {
  position: relative;
  background-color: #fff;
  margin: var(--m-margin) 0;
  padding: var(--s-padding);
  border-radius: var(--m-radius);
}

.search .item {
  padding: var(--s-padding);
  margin: var(--s-margin);
  border: 1px solid #ccc;
  color: #666;
  background-color: #fff;
}

.search .btn {
  background-color: #fff;
  background-image: unset !important;
}

.options {
  /* border-bottom: 1px solid #ccc; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.options-filters {
  max-width: 100%;
  overflow-x: scroll;
  background: #f9f9f9;
  padding: var(--s-padding) 0;
}

.options-filters_tag {
  background-color: #ccc;
  height: 29px;
  min-width: 100px;
  line-height: 28px;
  padding: 0 var(--s-padding);
  border: 1px solid #777;
  border-radius: var(--s-radius);
  font-size: 13px;
  margin: 0 var(--s-margin);
  text-align: center;
}

.options .btn {
  background-color: var(--scnd-color);
  color: #fff;
}

.reset-filter {
  font-size: 14px;
  color: #555;
  cursor: pointer;
  margin: 0 var(--m-margin);
}

.reset-filter:hover {
  color: green;
}

.sub-menu {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -4px;
  min-width: 100px;
  outline: none;
  padding: 5px 0;
  position: absolute;
  height: auto;
  left: 2%;
  top: 100%;
  padding: var(--scnd-padding);
  z-index: 5;
  display: none;
}

.sub-menu::after {
  content: '';
  position: absolute;
  top: -5px;
  width: 8px;
  left: 3%;
  height: 8px;
  background-color: #fff;
  transform: rotate( 45deg);
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.sub-menu_btn:hover, .sub-menu_btn:focus {
  background-color: #f9f9f9;
}


.sub-menu li {
  color: inherit;
  cursor: pointer;
  font-size: 13px;
  line-height: 23px;
  outline: 0;
  padding: 3px 5px;
  border-radius: 7px;
  text-decoration: inherit;
  white-space: nowrap;
  text-align: right;
}
.sub-menu li a{display: block;}

.sub-menu li:hover, .sub-menu:focus {
  background-color: #f9f9f9;
}

main {
  width: 100%;
  float: right;
  position: relative;
  padding: var(--m-padding);
  transition: .2s all ease-in-out;
  z-index: 10;
}
.opened-menu main {
  width: calc(100% - 17vmin);
}



main .content {
  padding: var(--m-padding);
  grid-auto-rows: minMax(100px, 140px);
  grid-gap: var(--m-margin);
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: var(--m-margin);
}

.content-item {
  background-color: #eee;
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  margin-bottom: var(--m-margin);
  grid-auto-rows: 30px auto;
  border: 1px solid #ccc;
  padding: var(--s-padding) var(--m-padding);
}



.loading {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.loading-small {
  height: 35px !important;
  width: 35px !important;
}


@media only screen and (min-width: 280px) and (max-width: 767px) {
  .wrapper {
    padding-right: 0 !important;
    width: 100%;
  }
  .opened-menu .wrapper {
    width: 100% !important;
  }
 
  main {
    padding: var(--s-padding);
  }
 
  .content {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap: var(--l-margin) !important;
    padding: var(--s-padding) !important
  }
 
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #options {
    opacity: 0;
  }
  main .content {
    grid-template-columns: 1fr 1fr;
  }

  .toggle-menu {
    display: block;
  }
}