* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  width: 75%;
  margin: var(--m-margin) auto;
  border-radius: var(--m-radius);
  padding: var(--m-padding);
  margin-bottom: 0;
  padding-bottom: 0;
}

ul {
  list-style: none;
}
.form-group {
  margin: var(--m-margin) 0;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.form-group label{
  font-size: 25px;
  color: #555
}
.form-control {
  padding: var(--s-padding);
  background-color: #fff;
  margin-bottom: var(--m-margin);
  border-radius: var(--s-radius);
  border: 1px solid #fff;
  cursor: pointer;
  color: #333;
  border-color: var(--main-color);
}

input:focus {
  outline: 0;
}


.form-control::-webkit-input-placeholder {
  color: #999;
  position: relative;
  padding-left: 0;
  font-size: 16px;

  -webkit-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  position: relative;
  padding-left: 0;
  -moz-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  position: relative;
  padding-left: 0;
  -moz-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.form-control:-ms-input-placeholder {
  color: #CCCCCC;
  position: relative;
  padding-left: 0;
  -ms-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}


/*
    * On hover
    */

.form-control:hover::-webkit-input-placeholder,
.form-control:focus::-webkit-input-placeholder {
  font-size:0
}

.form-control:hover:-moz-placeholder,
.form-control:focus:-moz-placeholder {
  /* Firefox 18- */
  font-size:0
}

.form-control:hover::-moz-placeholder,
.form-control:focus::-moz-placeholder {
  /* Firefox 19+ */
  font-size:0
}

.form-control:hover:-ms-input-placeholder,
.form-control:focus:-ms-input-placeholder {
  font-size:0
}



.spinner {
  width: 35px;
  height: 35px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

section {
  margin: var(--l-margin) var(--s-margin);
  padding: var(--l-padding);
}

section h2 {
  color: var(--main-color);
  font-size: 40px;
}
.goBack{
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  background-color: var(--main-color);
  width: 100%;
  height: 35px;
  line-height: 36px;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 99%;
  }
  section {
    padding: var(--m-padding);
    margin: var(--l-margin) 3px;
  }
  #menu {
    display: none;
  }
  #mobile-menu {
    display: block;
    padding: var(--s-padding) var(--l-padding);
  }
  #logo img {
    width: 50px;
  }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
@media only screen and (min-width:1024px) and (max-width: 1370px) {
  .wrapper {
    width: 90%;
  }
}