@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 0px;
  border-radius: 15px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(17, 17, 17, 0.388);
  width: 5px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #000;
  text-decoration: none
}

ul {
  list-style: none;
}

.contentFallBack {
  grid-column: 1/6;
}

.contentFallBack h2 {
  text-align: center;
  background-color: #f6fff6;
  text-shadow: 1px 1px 1px #8e8e8e;
}

.contentFallBack img {
  max-width: 90vh;
  display: block;
  margin: auto;
}

.fas {
  cursor: pointer;
}

.fas:hover {
  opacity: .8;
}

.wrapper {
  /* width: 100%;
  height: auto;
  margin: 5px auto 60px 0px; */
  overflow: hidden;
  /* float: right; */
  transition: .2s all ease-in-out;
}



.wrapper-body {
  padding: 1.5rem 2rem 5rem 2rem;
  min-height: 80vh;
  overflow-x: hidden;
  width: 75%;
  margin: auto;
}

.wrapper-body_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-body_head h2 {
  font-size: 15px;
  color: #888;
}

.wrapper-body_head h3 {
  font-size: 25px;
  color: #444;
}

main {
  width: 100%;
  float: right;
  position: relative;
  padding: var(--m-padding);
  transition: .2s all ease-in-out;
  z-index: 10;
}
.opened-menu main {
  width: calc(100% - 17vmin);
}



main .content {
  padding: var(--m-padding);
  grid-auto-rows: minMax(100px, 140px);
  grid-gap: var(--m-margin);
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: var(--m-margin);
}

.content-item {
  background-color: #eee;
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  margin-bottom: var(--m-margin);
  grid-auto-rows: 30px auto;
  border: 1px solid #ccc;
  padding: var(--s-padding) var(--m-padding);
}



.loading {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.loading-small {
  height: 35px !important;
  width: 35px !important;
}


@media only screen and (min-width: 280px) and (max-width: 767px) {
  .wrapper {
    padding-right: 0 !important;
    width: 100%;
  }
  .opened-menu .wrapper {
    width: 100% !important;
  }
 
  main {
    padding: var(--s-padding);
  }
 
  .content {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap: var(--l-margin) !important;
    padding: var(--s-padding) !important
  }
 
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #options {
    opacity: 0;
  }
  main .content {
    grid-template-columns: 1fr 1fr;
  }

  .toggle-menu {
    display: block;
  }
}